{% extends "base.html" %}

 {% block content %} 
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand" href="index.html">Connect</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href={{ url_for('index') }}>Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href={{ url_for('about') }}>About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href={{ url_for('poems') }}>Poems</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href={{ url_for('stories') }}>Stories</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Header -->
    <header class="masthead" style="background-image: url({{ url_for('static',filename='img/about-background.jpg') }})">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto col-float-none">
            <div class="page-heading">
              <h1>{{ page_title }}</h1>
              <span class="subheading">{{ page_subtitle }}</span>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Main Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <p style='float:right ;' >Hi, this is Ankul Gupta. I am a software developer by day and armchair philosopher by night.
            <img style='float:left !important; margin-right:10px !important; margin-top:8.5px !important; width:210px !important; height:194px !important;' src={{ url_for('static',filename='img/ankulGupta.tiff') }}> Hence all my idle time is spent, deliberating one thing or other. This is a collection of some of my works, which I have written over the years. Besides writing, I follow football religiously. I support Chelsea, John Terry is my idol and therefore I bleed blue. Music is another religion I identify with. Led Zepplin, RHCP, Radiohead, Amit Trivedi and many more. I enjoy playing guitar, singing when I am alone and am also learning to play drums. I wish to be everything at once. If you'd like to find out how I fare, keep an eye on this blog. Warm Wishes!</p>
        </div>
      </div>
    </div>

    <hr>

    <!-- Footer -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <ul class="list-inline text-center">
              <li class="list-inline-item">
                <a href="https://www.facebook.com/gupta.ankul">
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="https://github.com/ankulgupta">
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
            </ul>
            <p class="copyright text-muted">Copyright &copy; Your Website 2018</p>
          </div>
        </div>
      </div>
    </footer>

    {% endblock %}